<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 加载db.properties文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 创建连接池的bean -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName"
			value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<!-- 创建sqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 将dataSource对象注入到sqlSessionFactory中 -->
		<property name="dataSource" ref="dataSource"></property>
		<!--配置分页插件-->
		<!--<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<value>
							reasonable=true
						</value>
					</property>
				</bean>
			</array>
		</property>-->

	</bean>
	<!-- mybatis-spring.jar -->
	<!--Spring会自动查找定义的mybatis的接口，映射文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置dao接口所在的类路径 -->
		<property name="basePackage" value="com.zgjy.mapper" />
		<!-- value:取上面定义的sqlSessionFactory bean的id -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
</beans>        