<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjy.mapper.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.zgjy.entity.GoodsCategory">
    <id column="gcid" jdbcType="INTEGER" property="gcid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gcid, name
  </sql>
  <select id="selectByExample" parameterType="com.zgjy.entity.GoodsCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_goods_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods_category
    where gcid = #{gcid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_category
    where gcid = #{gcid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zgjy.entity.GoodsCategory">
    insert into t_goods_category (gcid, name)
    values (#{gcid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zgjy.entity.GoodsCategory">
    insert into t_goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gcid != null">
        gcid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gcid != null">
        #{gcid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zgjy.entity.GoodsCategoryExample" resultType="java.lang.Long">
    select count(*) from t_goods_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.zgjy.entity.GoodsCategory">
    update t_goods_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where gcid = #{gcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zgjy.entity.GoodsCategory">
    update t_goods_category
    set name = #{name,jdbcType=VARCHAR}
    where gcid = #{gcid,jdbcType=INTEGER}
  </update>
</mapper>